@media (max-width: 991px) {
    section.checkout .container {
        flex-direction: column;
    }

    section.checkout form {
        width: 100%;
    }

    section.checkout .resumo {
        width: 100%;
    }
}

@media (max-width: 575px) {
    section.checkout {
        padding: 0 10px;
    }

    section.checkout .container {
        flex-direction: column;
    }

    section.checkout form {
        width: 100%;
    }

    section.checkout .resumo {
        width: 100%;
    }
}